body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: pink;
    width:100%;
    
  
    
}
.todo-container{
    
 margin:20px auto;
 padding:5px;
 text-align: center;
 justify-content: center;
 

}
input[type="text"],
button {
  padding:10px 5px; 
  border-radius: 5px; 
}
button{
   background-color: rebeccapurple; 
   border: none;
   cursor:pointer;
   transition: background-color 0.3s, box-shadow 0.3s;

}
button:hover {
    background-color: blanchedalmond; 
    box-shadow: black; 
}
ul{
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column;  
    align-items: center; 
    justify-content: center;  
}
li {
    list-style-type: none;
}


.completed{
  color: lightgray;
  text-decoration: line-through;
}
.done{
    background-color: green;
}
.undo{
    background-color:blue;
}
.delete{
    background-color: red;
}